<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starter Theme - Generic Page</title>
</head>
<body class="generic-template">
    <nav class="main-nav">
        <div class="main-nav-logo">Logo</div>

        <button class="menu-button">Menu</button>
        <div class="main-nav-links">
            <a class="main-nav-link" href="#">Page A</a>
            <a class="main-nav-link" href="#">Page B</a>
            <a class="main-nav-link" href="#">Page C</a>
            <a class="main-nav-link" href="#">Page D</a>
        </div>
    </nav>
    
    <div class="page-wrap">
        <header>
            <div class="hero-banner no-overlay">
                <div class="hero-banner__content">
                    <h1 class="hero-banner__title no-margin-top">Full Screen Hero Banner</h1>
                </div>
            </div>
        </header>

        <main>
            <section class="generic-main-content page-section generic-section">
                <div class="generic-section-inner page-section-inner">
                    <h2 class="generic-main-title">Proin Posuere Risus</h2>
                    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dapibus, sapien sed euismod posuere, ante sapien aliquam lectus, sit amet convallis nulla augue vitae mauris. Cras varius nibh non dolor sodales, ut convallis urna rhoncus. Proin congue ornare lacus a pretium. Duis pellentesque ligula dolor, et tincidunt lectus porta in. Quisque lacinia sed augue id dictum. Praesent varius venenatis congue. In quis est ut metus sollicitudin varius. Sed sodales suscipit urna non porta. Sed euismod sodales sollicitudin. In rhoncus, risus eget egestas sagittis, mauris sapien commodo quam, id cursus felis tellus vulputate nisl. Proin ultricies nunc non justo consectetur, dignissim lobortis nunc egestas.</p>
                    <p>In posuere sapien eu neque porta, vel efficitur metus cursus. Vestibulum pretium interdum dictum. Donec vitae dapibus augue, at congue felis. Quisque ut nibh nec orci fermentum convallis sit amet sed tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis et leo dolor. Duis tincidunt pretium nisi vel pulvinar. Cras sagittis in ante sit amet dictum. Aliquam ultricies odio sed leo sollicitudin, id varius quam aliquam. Nunc sed suscipit leo. Nullam mollis eu neque non suscipit. Donec quis dui mauris. Ut eget tempus lacus. Maecenas et bibendum ligula, ut molestie lectus.</p>
                    <p>Fusce ante metus, pharetra ut pharetra non, gravida et risus. Praesent vestibulum euismod auctor. Nam tempor justo imperdiet justo porta lobortis. Morbi dictum fringilla ipsum, et venenatis velit tempus eu. Duis scelerisque diam quis dui finibus, id aliquam arcu ultricies. Vivamus venenatis libero vel viverra auctor. Proin posuere risus quis mi lacinia tempus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a mollis lectus. Aenean sit amet imperdiet ante, a sodales dolor. Nullam neque enim, ornare a urna eget, congue semper mauris. Duis non porttitor lectus, a scelerisque est. Donec a est eget libero mattis cursus. Pellentesque rhoncus luctus bibendum. Curabitur sed est urna.</p>
                    <p>Ut euismod lectus ac pharetra euismod. In pellentesque, risus vitae dictum lacinia, est dui condimentum leo, suscipit accumsan turpis quam nec magna. Aenean eu venenatis nisl. Sed nec felis sit amet arcu iaculis egestas ac id lorem. Aenean convallis augue sed neque vulputate eleifend. Ut elit libero, rhoncus convallis dolor non, aliquam vulputate sapien. Fusce eget odio et diam scelerisque malesuada. Phasellus tincidunt iaculis tortor, eget eleifend neque. Etiam dignissim ut libero et rhoncus. Aliquam scelerisque ultrices auctor. Vestibulum a consequat turpis. Curabitur rutrum odio lorem, sed cursus augue convallis at.</p>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer-widgets">

            </div>

            <div class="footer-legal">
                <p>All rights reserved. Built with Glide Theme, designed and developed by Mauricio J Flores</p>
            </div>
        </footer>
    </div><!-- end page-wrap-->

    <script src="./js/script.js"></script>
</body>
</html>