<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Glide Theme</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="main-nav">
        <div class="main-nav-logo">Logo</div>

        <div class="main-nav-links">
            <a class="main-nav-link" href="#">Page A</a>
            <a class="main-nav-link" href="#">Page B</a>
            <a class="main-nav-link" href="#">Page C</a>
            <a class="main-nav-link" href="#">Page D</a>
        </div>
    </nav>

    <div class="page-wrap">
        <header class="splash">
            <div class="splash-content">
                <div class="splash-content-left">
                    <h1 class="splash-title">Vestibulum Eget Lorem Vulputate</h1>
                    <h4 class="splash-tagline">Mauris nulla quam, auctor eu orci non, lacinia pulvinar augue. Morbi sodales, augue sed blandit scelerisque, quam eros lobortis enim.</h4>
                    <div><a href="#" class="splash-cta">Call To Action</a></div>
                </div>
            </div>

            <div class="splash-scroll-down">
                <span>&darr;</span>
            </div>
        </header>

        <main>
            <section class="landing-section landing-clients">
                <div class="landing-section-inner">
                    <h1 class="landing-section-title">Clients</h1>

                </div>
            </section>

            <section class="landing-section landing-what-we-do">
                <div class="landing-section-inner">
                    <h1 class="landing-section-title">What We Do</h1>
                </div>
                
            </section>

            <section class="landing-section landing-our-work">
                <div class="landing-section-inner">
                    <h1 class="landing-section-title">Our Work</h1>
                </div>
                
            </section>
            
            <section class="landing-section landing-about">
                <div class="landing-section-inner">
                    <h1 class="landing-section-title">About Us</h1>
                </div>
                
            </section>
            
            <section class="landing-section landing-latest-news">
                <div class="landing-section-inner">
                    <h1 class="landing-section-title">Latest News</h1>
                </div>
                
            </section>
            
            <section class="landing-section landing-pricing">
                <div class="landing-section-inner">
                    <h1 class="landing-section-title">Pricing Plans</h1>
                </div>
                
            </section>
            
            <section class="landing-section landing-testimonials">
                <div class="landing-section-inner">
                    <h1 class="landing-section-title">Testimonials</h1>
                </div>
                
            </section>
            
            <section class="landing-section landing-contact">
                <div class="landing-section-inner">
                    <h1 class="landing-section-title">Contact</h1>
                </div>
                
            </section>
        </main>

        <footer class="footer">
            <div class="footer-widgets">

            </div>

            <div class="footer-legal">
                <p>All rights reserved. Built with Glide Theme, designed and developed by Mauricio J Flores</p>
            </div>
        </footer>
    </div><!-- end content-wrap -->

    <script src="./js/script.js"></script>
</body>
</html>