<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starter Theme - Landing Page</title>
</head>
<body class="landing-template">
    <nav class="main-nav">
        <div class="main-nav-logo">Logo</div>

        <button class="menu-button">Menu</button>
        <div class="main-nav-links">
            <a class="main-nav-link" href="#">Page A</a>
            <a class="main-nav-link" href="#">Page B</a>
            <a class="main-nav-link" href="#">Page C</a>
            <a class="main-nav-link" href="#">Page D</a>
        </div>
    </nav>

    <div class="page-wrap">
        <header class="splash">
            <div class="splash-content">
                <div class="splash-content-left">
                    <h1 class="splash-title">Vestibulum Eget Lorem Vulputate</h1>
                    <h4 class="splash-tagline">Mauris nulla quam, auctor eu orci non, lacinia pulvinar augue. Morbi sodales, augue sed blandit scelerisque, quam eros lobortis enim.</h4>
                    <div><a href="#" class="splash-cta">Call To Action</a></div>
                </div>
            </div>

            <div class="splash-scroll-down">
                <span class="scroll-down-button">&darr;</span>
            </div>
        </header>

        <main>
            <section class="landing-section landing-clients">
                <div class="landing-section-inner">

                    <h1 class="landing-section-title">Clients</h1>
                    <div class="landing-clients-list">
                        <span class="landing-clients-item">
                            <img src="https://via.placeholder.com/130x70.png" alt="Client company logo">
                        </span>
                        <span class="landing-clients-item">
                            <img src="https://via.placeholder.com/100x120.png" alt="Client company logo">
                        </span>
                        <span class="landing-clients-item">
                            <img src="https://via.placeholder.com/120x60.png" alt="Client company logo">
                        </span>
                        <span class="landing-clients-item">
                            <img src="https://via.placeholder.com/130x90.png" alt="Client company logo">
                        </span>
                        <span class="landing-clients-item">
                            <img src="https://via.placeholder.com/150x90.png" alt="Client company logo">
                        </span>
                        <span class="landing-clients-item">
                            <img src="https://via.placeholder.com/120x40.png" alt="Client company logo">
                        </span>
                    </div>

                </div>
            </section>

            <section class="landing-section landing-services">
                <div class="landing-section-inner">

                    <h1 class="landing-section-title">What We Do</h1>
                    <div class="landing-services-list">
                        <div class="landing-services-item">
                            Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.
                        </div>
                        <div class="landing-services-item">
                            Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.
                        </div>
                        <div class="landing-services-item">
                            Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.
                        </div>
                        <div class="landing-services-item">
                            Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.
                        </div>
                        <div class="landing-services-item">
                            Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.
                        </div>
                    </div>

                </div>
            </section>

            <section class="landing-section landing-portfolio">
                <div class="landing-section-inner">
                
                    <h1 class="landing-section-title">Our Work</h1>
                    <div class="landing-portfolio-list">
                        <div class="landing-portfolio-item">
                            <a href="#"><img class="portfolio-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="landing-portfolio-item">
                            <a href="#"><img class="portfolio-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="landing-portfolio-item">
                            <a href="#"><img class="portfolio-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="landing-portfolio-item">
                            <a href="#"><img class="portfolio-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="landing-portfolio-item">
                            <a href="#"><img class="portfolio-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="landing-portfolio-item">
                            <a href="#"><img class="portfolio-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                    </div>
                    
                </div>
            </section>
            
            <section class="landing-section landing-about">
                <div class="landing-section-inner">
                
                    <h1 class="landing-section-title">About Us</h1>
                    <div class="landing-about-content">
                        <p>Cras eget ligula quis risus placerat vulputate sit amet in arcu. Mauris felis orci, tempus et nisl ac, gravida malesuada lorem. Fusce sed tortor cursus, ullamcorper felis nec, mollis dolor. Quisque commodo rutrum diam, nec laoreet est imperdiet eget. Pellentesque quis dapibus sapien. Sed in pharetra enim, at convallis quam. Phasellus laoreet auctor nulla, et dapibus ante sollicitudin nec. Nunc et gravida elit. Etiam sollicitudin vitae erat pellentesque commodo. Fusce lacinia interdum justo. Cras ac ex dictum enim dictum blandit. Maecenas tempus mi ligula, quis efficitur est sagittis nec.</p>
                    </div>
                    
                </div>
            </section>
            
            <section class="landing-section landing-articles">
                <div class="landing-section-inner">

                    <h1 class="landing-section-title">Latest News</h1>
                    <div class="landing-articles-list">
                        <div class="landing-articles-item">
                            <p>Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.</p>
                        </div>
                        <div class="landing-articles-item">
                            <p>Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.</p>
                        </div>
                        <div class="landing-articles-item">
                            <p>Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.</p>
                        </div>
                        <div class="landing-articles-item">
                            <p>Nulla facilisi. Suspendisse potenti. Sed blandit, lacus quis varius vehicula, ex quam gravida magna, id sagittis leo urna eu risus. Nulla ac massa tincidunt, pretium sapien sed, mollis massa.</p>
                        </div>
                    </div>

                </div>
            </section>
            
            <section class="landing-section landing-pricing">
                <div class="landing-section-inner">
                    
                    <h1 class="landing-section-title">Pricing Plans</h1>
                    <div class="landing-pricing-list">
                        <div class="landing-pricing-item">
                            <div class="landing-pricing-item-header">
                                <h3 class="landing-pricing-item-title">Basic</h3>
                                <p class="landing-pricing-item-price">$4.99</p>
                                <p class="landing-pricing-item-term">per year</p>
                            </div>
                            <div class="landing-pricing-item-body">
                                <ul>
                                    <li>Vestibulum diam lorem, facilisis eu efficitur id</li>
                                    <li>In hac habitasse</li>
                                    <li>Fusce fringilla metus in sagittis</li>
                                    <li>Vestibulum diam lorem, facilisis eu efficitur id</li>
                                </ul>
                            </div>
                            <div class="landing-pricing-item-footer">
                                <button class="btn--primary block-btn">Buy Now</button>
                            </div>
                        </div>
                        <div class="landing-pricing-item">
                            <div class="landing-pricing-item-header">
                                <h3 class="landing-pricing-item-title">Premium</h3>
                                <p class="landing-pricing-item-price">$4.99</p>
                                <p class="landing-pricing-item-term">per year</p>
                            </div>
                            <div class="landing-pricing-item-body">
                                <ul>
                                    <li>Vestibulum diam lorem, facilisis eu efficitur id</li>
                                    <li>In hac habitasse</li>
                                    <li>Fusce fringilla metus in sagittis</li>
                                    <li>Vestibulum diam lorem, facilisis eu efficitur id</li>
                                </ul>
                            </div>
                            <div class="landing-pricing-item-footer">
                                <button class="btn--primary block-btn">Buy Now</button>
                            </div>
                        </div>
                        <div class="landing-pricing-item">
                            <div class="landing-pricing-item-header">
                                <h3 class="landing-pricing-item-title">Gold</h3>
                                <p class="landing-pricing-item-price">$4.99</p>
                                <p class="landing-pricing-item-term">per year</p>
                            </div>
                            <div class="landing-pricing-item-body">
                                <ul>
                                    <li>Vestibulum diam lorem, facilisis eu efficitur id</li>
                                    <li>In hac habitasse</li>
                                    <li>Fusce fringilla metus in sagittis</li>
                                    <li>Vestibulum diam lorem, facilisis eu efficitur id</li>
                                </ul>
                            </div>
                            <div class="landing-pricing-item-footer">
                                <button class="btn--primary block-btn">Buy Now</button>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            
            <section class="landing-section landing-testimonials">
                <div class="landing-section-inner">
                
                    <h1 class="landing-section-title">Testimonials</h1>
                    <div class="landing-testimonials-list">
                        <div class="landing-testimonials-item">
                            <div class="landing-testimonials-item-author">
                                <img src="https://via.placeholder.com/100x100.png" alt="">
                            </div>
                            <div class="landing-testimonials-item-content">
                                <p>Aenean nec erat nunc. Donec at placerat mi. Etiam id nibh dapibus, molestie lectus vel, iaculis sem. Pellentesque lectus dolor, dapibus at ullamcorper maximus, ultricies ut lorem. Nulla a porta nunc. Maecenas non turpis urna. In hac habitasse platea dictumst.</p>
                                <p class="signature">
                                    - <strong>John Doe</strong>,<br>
                                    <em>Founder and President at Business Solutions, LLC</em>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
            
            <section class="landing-section landing-contact">
                <div class="landing-section-inner">
                
                    <h1 class="landing-section-title">Contact</h1>
                    <div class="landing-contact-form">
                        <div class="landing-contact-form-group form__item-block">
                            <label for="name">Name:</label>
                            <input type="text" id="name" class="block-field">
                        </div>
                        <div class="landing-contact-form-group form__item-block">
                            <label for="email">Email:</label>
                            <input type="email" id="email" class="block-field">
                        </div>
                        <div class="landing-contact-form-group form__item-block">
                            <label for="message">Message:</label>
                            <textarea id="message" class="block-field" rows="5"></textarea>
                        </div>
                        <div class="landing-contact-form-buttons">
                            <input type="submit" class="btn--primary">
                            <input type="reset" class="btn--primary-border">
                        </div>
                    </div>
                    
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer-widgets">

            </div>

            <div class="footer-legal">
                <p>All rights reserved. Built with Glide Theme, designed and developed by Mauricio J Flores</p>
            </div>
        </footer>
    </div><!-- end content-wrap -->

    <script src="./js/script.js"></script>
</body>
</html>