<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starter Theme - Portfolio Template</title>
</head>
<body class="portfolio-template">
    <nav class="main-nav">
        <div class="main-nav-logo">Logo</div>

        <button class="menu-button">Menu</button>
        <div class="main-nav-links">
            <a class="main-nav-link" href="#">Page A</a>
            <a class="main-nav-link" href="#">Page B</a>
            <a class="main-nav-link" href="#">Page C</a>
            <a class="main-nav-link" href="#">Page D</a>
        </div>
    </nav>

    <div class="page-wrap">
        <header>
            <div class="hero-banner no-overlay">
                <div class="hero-banner__content">
                    <h1 class="hero-banner__title no-margin-top">Full Screen Hero Banner</h1>
                </div>
            </div>
        </header>

        <main>
            <section class="portfolio-main page-section portfolio-section">
                <div class="portfolio-section-inner page-section-inner">
                    <h1 class="portfolio-section-title section-main-title">Our Work</h1>
                    <div class="portfolio-main-list image-gallery">
                        <div class="portfolio-main-item image-gallery-item">
                            <div class="portfolio-main-item-overlay image-gallery-item-overlay"><a href="#" class="btn--white">See Project</a></div>
                            <a href="#"><img class="portfolio-img image-gallery-item-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="portfolio-main-item image-gallery-item">
                            <div class="portfolio-main-item-overlay image-gallery-item-overlay"><a href="#" class="btn--white">See Project</a></div>
                            <a href="#"><img class="portfolio-img image-gallery-item-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="portfolio-main-item image-gallery-item">
                            <div class="portfolio-main-item-overlay image-gallery-item-overlay"><a href="#" class="btn--white">See Project</a></div>
                            <a href="#"><img class="portfolio-img image-gallery-item-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="portfolio-main-item image-gallery-item">
                            <div class="portfolio-main-item-overlay image-gallery-item-overlay"><a href="#" class="btn--white">See Project</a></div>
                            <a href="#"><img class="portfolio-img image-gallery-item-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="portfolio-main-item image-gallery-item">
                            <div class="portfolio-main-item-overlay image-gallery-item-overlay"><a href="#" class="btn--white">See Project</a></div>
                            <a href="#"><img class="portfolio-img image-gallery-item-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                        <div class="portfolio-main-item image-gallery-item">
                            <div class="portfolio-main-item-overlay image-gallery-item-overlay"><a href="#" class="btn--white">See Project</a></div>
                            <a href="#"><img class="portfolio-img image-gallery-item-img" src="https://via.placeholder.com/500x500.png" alt=""></a>
                        </div>
                    </div>

                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer-widgets">

            </div>

            <div class="footer-legal">
                <p>All rights reserved. Built with Glide Theme, designed and developed by Mauricio J Flores</p>
            </div>
        </footer>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>
